/*  What is sass vs regular css?

//  This method of stying can get messing when multiple classes are nested deep
.categories-container {
    background-color: red;
    padding: 10px;
}

.categories-container .category-container {
    background-color: green;
    padding: 20px;
}

.categories-container .category-body-container {
    background-color: blue;
    padding: 30px;
}

//  Sass allows you to nest css classes within other css classes. Makes for cleaner writing of css
.categories-container {
    background-color: red;
    padding: 10px;

    .category-container {
        background-color: green;
        padding: 20px;

        .category-body-container {
            background-color: blue;
            padding: 30px;
        }
    }
}

*/

.directory-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

